.hero {
  padding-top: 92px;
  background: #f1f5ff url(/img/clouds.svg) center center;
  text-align: center;
  overflow: hidden;
}

.hero-title {
  display: none;
}

.hero-caption {
  margin-top: 16px;
  font-family: "Quicksand";
  font-weight: 300;
  font-size: 48px;
  line-height: 1.25;
  color: #3d4f9f;
  span {
    font-weight: 500;
  }
}

.hero-text {
  margin: 19px auto 0;
  max-width: 502px;
  width: 100%;
}

.hero-slider {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  padding-top: 110px;
}

.hero-slide {
  height: 25vw;
  background: url(/img/chart.svg) center bottom/cover no-repeat;
  position: relative;
  padding-bottom: 15px;
  &::before {
    content: "";
    left: 3vw;
    bottom: 6vw;
    width: 9vw;
    height: 5vw;
    background: url(/img/slide-item-1.svg) center center/cover no-repeat;
    position: absolute;
  }
  &:nth-child(2) {
    &::before {
      bottom: 6vw;
      left: 31.3vw;
    }
  }
  &:nth-child(3) {
    &::before {
      left: 59.7vw;
      bottom: 16vw;
    }
  }
}
