.overlay {
  display: none;
  width: 40%;
  height: 100vh;
  z-index: 99;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 0.8s;
  background: rgba($color: #000000, $alpha: 0.4);
  &.active {
    left: 0;
  }
}
